fastapi==0.100.0
hypercorn==0.14.4
pandas
filelock
google-generativeai>=0.3.0
numpy>=1.20
pydantic>=1.8
pinecone
redis==5.0.1 
PyMuPDF==1.24.1
python-multipart
pypdfium2
Pillow
python-docx
sentence-transformers
